@page "/panel/dairepersonelekrani"
@using ZabitaWEB.Client.Services.Abstract
@using Zabita.Entities.Concrete
@inject IDialogService DialogService

@inject ITalepsService talepService
@inject IIsTiplerisService istipleriService
@inject IAmirliksService amirlikService


<MudGrid>


    <MudItem lg="12" md="12" xl="12" xs="12" Style="width:100%">

        <MudCard>
            <MudCardHeader Style="background-color:lightblue;height:2.5em">
                <CardHeaderContent>
                    <MudText Typo="Typo.h6" Color="Color.Dark">
                        Gelen İşler
                    </MudText>
                </CardHeaderContent>

            </MudCardHeader>
            <MudCardContent Style="padding:0">
                <RadzenDataGrid @ref="gridr" Data="@talepler" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="5"
                                AllowSorting="true" TItem="Talep" AllowVirtualization="false" ColumnWidth="270px"
                                SelectionMode="DataGridSelectionMode.Multiple" @bind-Value=@SeciliTalep>
                    <Columns>
                        <RadzenDataGridColumn TItem="Talep" Width="40px" Sortable="false" Filterable="false">

                            <Template Context="data">
                                <RadzenCheckBox TriState="false" Value="@(SeciliTalep != null && SeciliTalep.Contains(data))" />
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Talep" Title="Detay" Filterable="false" Width="7em">
                            <Template Context="data">
                                <MudButton Variant="Variant.Outlined" OnClick="@(() => OpenDialog(data))"> Detay</MudButton>
                            </Template>

                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Talep" Property="TalepAmirlik" Title="Talep Amirliği" />
                        <RadzenDataGridColumn TItem="Talep" Property="TalepKonu" Title="Gonderildi" />

                    </Columns>

                </RadzenDataGrid>
            </MudCardContent>
            <MudCardActions>
                <MudGrid>
                    <MudItem xs="12" sm="12" md="12">
                        <MudTextField T="string" Label="Outlined" Variant="Variant.Outlined" Text="@text" Lines="5
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      













































































































                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      " />
                    </MudItem>
                    <MudItem>

                        <MudButton Disabled="@_processing" Variant="Variant.Filled" Color="Color.Success" OnClick="@OnBusyClick" EndIcon="@Icons.Material.Outlined.ThumbUp">
                            @if (_processing)
                            {
                                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                                <MudText Class="ms-2">KAYDEDİLİYOR..</MudText>
                            }
                            else
                            {
                                <MudText>YAPILDI</MudText>
                            }
                        </MudButton>
                    </MudItem>

                    <MudItem>

                        <MudButton Disabled="@_processing" Variant="Variant.Filled" Color="Color.Secondary" OnClick="@OnBusyClick" EndIcon="@Icons.Material.Outlined.ThumbDown">
                            @if (_processing)
                            {
                                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                                <MudText Class="ms-2">KAYDEDİLİYOR..</MudText>
                            }
                            else
                            {
                                <MudText>YAPILAMADI</MudText>
                            }
                        </MudButton>
                    </MudItem>

                </MudGrid>





            </MudCardActions>
        </MudCard>

</MudItem>    
    </MudGrid>
    
<MudGrid>


    <MudItem lg="12" md="12" xl="12" xs="12" Style="width:100%">

        <RadzenCard Style="width:100%; margin-bottom: 20px;height:fit-content;">
            <div class="card-header" style="max-height:2.5em;background-color:white"><h5 style="text-align:start">Personel Bilgisi</h5></div>

            <div class="row">
                <div class="col-6">
                    @foreach (var s in SeciliTalep)
                    {
                        <div style="">Amirlik Adı:</div>

                        <b>@s.TalepAmirlik.AmirlikIsım</b>
                        <div style="margin-top:20px">Yerleşke Açıklaması:</div>
                        <b>Yerleşke_Aciklamasi</b>
                        <div style="margin-top:20px">İstenilen Tarih:</div>
                        <b>02.05.2021</b>
                    }


                </div>
                <div class="col-6">
                    <div style="">Talep Eden Personel:</div>
                    <b>Talep_Eden_Personel</b>
                    <div style="margin-top:20px">İletişim Bilgileri:</div>
                    <b>05455454545 ---</b>
                    <b>personel@ibb.gov.tr</b>
                    <div style="margin-top:20px">Atanılan Tarih:</div>
                    <b>18.05.2021</b>
                </div>

            </div>
        </RadzenCard>
</MudItem>
</MudGrid>


        @code{
            RadzenDataGrid<Talep> gridr;

            private bool _processing = false;

            //IEnumerable<Talep> talepler { get; set; }
            IEnumerable<IsTipleri> gecmis { get; set; }
            IEnumerable<Amirlik> amirlikler { get; set; }
            IList<Talep> SeciliTalep = new List<Talep>();

            List<Talep> TalepList = new List<Talep>();
            List<Amirlik> AmirlikList = new List<Amirlik>();

            private string searchString = "";
            private Talep selectedItem = null;
            private HashSet<Talep> selectedItems = new HashSet<Talep>();

            private IEnumerable<Talep> talepler = new List<Talep>();
            string text = "";

            bool busy;
            bool yapilamadi = false;

            protected async override void OnParametersSet()
            {
                talepler = await Task.Run(() => talepService.GetTaleps());
                amirlikler = await Task.Run(() => amirlikService.GetAmirliks());
                gecmis = await Task.Run(() => istipleriService.GetIsTipleris());
                TalepList.AddRange(talepler);
                AmirlikList.AddRange(amirlikler);
                SeciliTalep = talepler.Take(1).ToList();

            }
            async Task OnBusyClick()
            {
                busy = true;
                await Task.Delay(2000);
                busy = false;
            }
            async Task OpenDialog(Talep talep)
            {
                MudBlazor.DialogOptions fullScreen = new MudBlazor.DialogOptions() { FullScreen = true, CloseButton = true };

                var parameters = new DialogParameters { ["Talep"] = talep };

                var result = await DialogService.Show<DetayDialog>("talep", parameters, fullScreen).Result;

            }
            async Task Yapilamadi()
            {
                await Task.Delay(2000);
                yapilamadi = true;
            }
            async Task Gonder()
            {
                await Task.Delay(2000);
                yapilamadi = false;
            }
            private bool FilterFunc(Talep element)
            {
                if (string.IsNullOrWhiteSpace(searchString))
                    return true;
                if (element.TalepAciklama.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                    return true;

                return false;
            }
        }
