@page "/panel/buroekrani"
@using Zabita.Entities.Concrete
@using ZabitaWEB.Client.Services.Abstract
@inject ITalepsService talepsService
@inject IAmirliksService amirliksService
@inject IIsTiplerisService istipleriService
@inject IIsAltTiplerisService isalttipleriService


<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <RadzenCard Style="width:100%; margin-bottom: 20px; height:200px;">
                    <div class="card-header" style="max-height:2.5em;background-color:white"><h5 style="text-align:start">Personel Bilgisi</h5></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div style="">Yerleşke Adı:</div>
                            <b>Yerleşke_Adi</b>
                            <div style="margin-top:20px">Yerleşke Açıklaması:</div>
                            <b>Yerleşke_Aciklamasi</b>
                        </div>
                        <div class="col-md-6">
                            <div style="">Talep Eden Personel:</div>
                            <b>Talep_Eden_Personel</b>
                            <div style="margin-top:20px">Tarih:</div>
                            <b>01.01.1001</b>
                        </div>
                    </div>
                </RadzenCard>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"></div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-4">
                <RadzenDataGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="4"
                                AllowSorting="true" Data="@talepler" TItem="Talep" ColumnWidth="200px"
                                SelectionMode="DataGridSelectionMode.Multiple" @bind-Value=@SeciliTalep>
                    <Columns>
                        <RadzenDataGridColumn TItem="Talep" Width="40px" Sortable="false" Filterable="false">
                            <HeaderTemplate>
                                <RadzenCheckBox TriState="false" TValue="bool" />
                            </HeaderTemplate>
                            <Template Context="data">
                                <RadzenCheckBox TriState="false" Value="@(SeciliTalep != null && SeciliTalep.Contains(data))" />
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Talep" Property="TalepAciklama" Title="Is Adı" />
                        <RadzenDataGridColumn TItem="Talep" Property="TalepBaslik" Title="Yapildimi" />
                        <RadzenDataGridColumn TItem="Talep" Property="TalepKonu" Title="Gonderildi" />
                    </Columns>

                </RadzenDataGrid>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 mb-1">
                <div class="row">
                    <div class="col-xl-8">
                        <span>Gönderilecek Birim Seçiniz</span>
                        <RadzenDropDown AllowClear="true" TValue="string" Style="width:300px;vertical-align:middle;margin:0 0 0 1rem"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true" />
                    </div>
                    <div class="col-xl-3">
                        <RadzenButton style="margin: 0 1rem 1rem 0; width: 200px" Icon="send" BusyText="Gönderiliyor ..." IsBusy=@busy Click=@OnBusyClick Text="Gonder" />
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <RadzenCard Style="width:100%; margin-bottom: 20px; height:330px;">
                    <div class="card-header" style="max-height:3em;background-color:white"><h5 style="text-align:start">Fotoğraflar</h5></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="gallery">
                                <a target="_blank" href="~/images/1.jpg">
                                    <img src="images/1.jpg" alt="cck1" width="100" height="100">
                                </a>
                                <a target="_blank" href="~/images/2.jpg">
                                    <img src="images/2.jpg" alt="cck2" width="100" height="100">
                                </a>
                                <a target="_blank" href="~/images/3.jpg">
                                    <img src="images/3.jpg" alt="cck2" width="100" height="100">
                                </a>
                                <a target="_blank" href="~/images/4.jpg">
                                    <img src="images/4.jpg" alt="cck2" width="100" height="100">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <RadzenUpload Multiple="true" Accept="image/*" Url="upload/multiple" Style="margin-bottom: 20px;" />
                        </div>
                    </div>
                </RadzenCard>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <RadzenButton Text="Excel" Icon="grid_on" Click="@(args => Export("excel"))" Style="margin-bottom:20px" /><RadzenButton Text="CSV" Icon="wrap_text" Click="@(args => Export("csv"))" Style="margin-left:20px;margin-bottom:20px;" />
        <RadzenDataGrid  AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@talepler" TItem="Talep">
            <Columns>
                <RadzenDataGridColumn TItem="Talep" Property="TalepBaslik" Title="Talep Adı" />
                <RadzenDataGridColumn TItem="Talep" Property="TalebinYapilmaTarihi" Title="Talep Tarihi">
                    <Template Context="data">
                        @String.Format("{0:d}", data.TalebinYapilmaTarihi)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Talep" Property="TalepAciklama" Title="Talep Konusu" />
                <RadzenDataGridColumn TItem="Talep" Property="TalepKonu" Title="Talep Eden Personel" />
               
            </Columns>
        </RadzenDataGrid>
    </div>
</div>
@code{
    [Parameter]
    public IEnumerable<IsTipleri> istipleri { get; set; }
    [Parameter]
    public IEnumerable<Amirlik> amirlikler { get; set; }
    public IList<Talep> SeciliTalep = new List<Talep>();
    public List<Talep> TalepList = new List<Talep>();
    List<Amirlik> AmirlikList = new List<Amirlik>();
    [Parameter]
    public IEnumerable<Talep> talepler { get; set; }

    bool busy;
    protected async override void OnParametersSet()
    {
        // talepler = await Task.Run(() => talepsService.GetTaleps());
        // amirlikler = await Task.Run(() => amirliksService.GetAmirliks());
        //  istipleri = await Task.Run(() => istipleriService.GetIsTipleris());
       @* TalepList.AddRange(talepler);
        AmirlikList.AddRange(amirlikler);
        TalepList.AddRange(talepler);
        SeciliTalep = TalepList.Take(1).ToList();*@
         
        //SeciliTalep = talepler.Take(1).ToList();

}
async Task OnBusyClick()
{
    busy = true;
    await Task.Delay(2000);
    busy = false;
}
public void Export(string type)
{

    /* gecmis.Export("Gecmis", type, new Query() { OrderBy = grid.Query.OrderBy, Filter = grid.Query.Filter });*/
}

}