@page "/panel"
@using Zabita.Entities.Concrete
@using ZabitaWEB.Client.Services.Abstract
@inject ITalepsService talepsService
@inject IAmirliksService amirliksService
@inject IIsTiplerisService istipleriService
@inject IIsAltTiplerisService isalttipleriService

@inject ISnackbar Snackbar
@inject HttpClient Http
@inject NavigationManager NavigationManager
<div class="container-fluid">

    <div class="row">

        <div class="col-12 mb-4 ">
            <MudTabs Elevation="24" Rounded="true" Centered="true" Border="true" Position="Position.Top" Color="@Color.Info" PrevIcon="@Icons.Filled.SkipPrevious" NextIcon="@Icons.Filled.SkipNext">
                <MudTabPanel Text="Daire Büro">

                    <YoneticiEkrani istipleri="@Istipleris" amirlikler="@Amirlikler" talepler="@Talepler"/>


                </MudTabPanel>
                <MudTabPanel Text="İSG Büro">

                    <PersonelEkrani/>
                </MudTabPanel>
                <MudTabPanel Text="Three" />
                <MudTabPanel Text="Four" />
                <MudTabPanel Text="Five" />

            </MudTabs>

        </div>
        </div>
    </div>
       
@code {
    bool disabled = true;

    IList<IBrowserFile> files = new List<IBrowserFile>();

    List<Talep> TalepList = new List<Talep>();
    List<IsTipleri> IstipleriList = new List<IsTipleri>();
    List<Amirlik> AmirlikList = new List<Amirlik>();
    List<IsAltTipleri> IsAltTipleriList = new List<IsAltTipleri>();
    private string[] Istipi = { };

    int amirlikid = 0;

    bool busy;
    string isbilgileri = "";
    string yerleskebilgileri = "";

    //IEnumerable<Taleptipleri> selectedtalepedilecekisler = new Taleptipleri[] { };
    //List<Taleptipleri> selectedtalepedilecekisler = new List<Taleptipleri>() { };
    IEnumerable<string> selectedtalepedilecekisler = new string[] { };
    private HashSet<IsAltTipleri> options { get; set; } = new HashSet<IsAltTipleri>() { };
    private IsAltTipleri secilenalttip { get; set; } = new IsAltTipleri();
    Func<IsAltTipleri, string> converter = p => p?.IsAltTipi;



    IList<Foto> fotos = new List<Foto>();
    IList<TalepAltSonucu> talepAltSonucus = new List<TalepAltSonucu>();


    IEnumerable<IsTipleri> Istipleris { get; set; }
    IEnumerable<Amirlik> Amirlikler { get; set; }
    IEnumerable<Talep> Talepler { get; set; }
    IEnumerable<IsAltTipleri> IsAltTipleri;

    [Parameter]
    public string IsTipiId { get; set; }

    async Task OnBusyClick()
    {
        foreach (var ist in options)
        {
            talepAltSonucus.Add(new TalepAltSonucu()
            {
                TalepAltSonucuAciklama = ist.IsAltTipiAciklama,
                TalepAltSonucuTipi = ist.IsAltTipi
            }

            );

        }
        var talep = new Talep
        {
            TalepKonu = amirlikid.ToString(),
            TalepBaslik = "deneme",
            TalepAciklama = isbilgileri,
            Fotolar = fotos,
            YerleskeAciklamasi = yerleskebilgileri,
            AmirlikId = amirlikid.ToString(),
            TalebinYapilmaTarihi = DateTime.Now,
            TalepAltSonucus = talepAltSonucus,
            TalepIstipleriID = IsTipiId

        };

        busy = true;
        //await Task.Delay(2000);

        var sd = await talepsService.PostTalep(talep);
        //await Http.PostAsJsonAsync<Talep>("/api/Taleps", talep);
        busy = false;
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopRight;
        Snackbar.Add("Kayıt Başarılı!", Severity.Success);
        //NavigationManager.NavigateTo("talep", true);

        disabled = true;
    }






    protected async override void OnInitialized()
    {
        try
        {
            Istipleris = await istipleriService.GetIsTipleris();
            IsAltTipleri = await isalttipleriService.GetIsAltTipleris();

            Amirlikler = await amirliksService.GetAmirliks();
            Talepler = await talepsService.GetTaleps();
            //IsTipleriList.AddRange(lististipleri);
            //AmirlikList.AddRange(listyerleske);
            // TalepList.AddRange(listtalep);
            IsAltTipleriList.AddRange(IsAltTipleri);
            IstipleriList.AddRange(Istipleris);
            AmirlikList.AddRange(Amirlikler);
        }
        catch(Exception e)
        {
            Console.WriteLine(e.Message.ToString());
            }


    }

    private async void UploadFiles(InputFileChangeEventArgs e)
    {
        var format = "image/png";
        foreach (var file in e.GetMultipleFiles())
        {
            files.Add(file);

        }
        var entries = e.GetMultipleFiles();

        foreach (var file in e.GetMultipleFiles())
        {
            var resizedImageFile = await file.RequestImageFileAsync(format,
            1024, 1024);
            long max = 2000000;
            var buffer = new byte[resizedImageFile.Size];
            await resizedImageFile.OpenReadStream(max).ReadAsync(buffer);
            var imageDataUrl =
            $"data:{format};base64,{Convert.ToBase64String(buffer)}";

            fotos.Add(new Foto
            {
                FotoData = buffer,
                FotoAdi = file.Name,
                FotoEklenmeTarihi = DateTime.Now
            });
        }
        disabled = false;
        StateHasChanged();
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopRight;
        Snackbar.Add($"{entries.Count} Fotoğraf Eklendi!", Severity.Info);

    }
    void OnChange(object value, string name)
    {
        var str = value is IEnumerable<object>
            ? string.Join(", ", (IEnumerable<object>
                )value) : value;
        value = name;

        Console.WriteLine($"{name} value changed to {str}");
    }




    void OnError(UploadErrorEventArgs args, string name)
    {
        Console.WriteLine($"{args.Message}");
    }

}



